<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        
        <title>Alkchat-Register</title>
    </head>
    <body>

        <header>
            <h1>Alkchat Register</h1>
        </header>
		<form th:action="@{/process_reg}" method:"post" th:object="${user}">
		<div>
		<label>email</label>
		<input type="email" th:field="*{email}" required/> 
		</div>
		<div>
		<label>name</label>
		<input type="text" th:field="*{name}" required/> 
		</div>
		<div>
		<label>pass</label>
		<input type="text" th:field="*{password}" required/> 
		</div>
		<div>
		<button type="submit">Register</button>
		</div>
		</form>

    </body>
</html>